.container
{
    background-color: grey;
    top: 50%;
    left: 50%;
    position: absolute;
}
.container button
{
    background-color: #00b241;
    text-transform: uppercase;
    color: white;
    padding: 20px 100px;
    font-size: 20px;
}